In [2]:
import pandas as pd
import json

In [3]:
def get_financial_multiplier(api_code, default_multiplier=1000):
    """
    Returns the multiplier for a given API code.
    
    Args:
        api_code: The financial API code (e.g., 'SI', 'ANT', 'EKA')
        default_multiplier: Multiplier for monetary values (default: 1000)
    
    Returns:
        int: Multiplier value (1 for no change, default_multiplier for monetary values)
    """
    
    # API codes that should be multiplied (monetary values in thousands)
    MONETARY_CODES = {
        # Revenue Items
        'ADI', 'SDI', 'SI', 'IPA', 'IPI', 'IPT', 'LI', 'costs', 'bruttofort',
        
        # Expense Items  
        'ADK', 'SDK', 'LTP', 'PNKO', 'FOU', 'VF', 'PERSOMK', 'FU', 'loner_ovriga',
        'loner_styrelse_vd', 'summa_rorelsekostnader',
        
        # Asset Items
        'SED', 'SAM', 'SOM', 'SV', 'SVA', 'SF', 'KBP', 'EB', 'MI', 'MOA', 'AOM',
        'ANF', 'ANFF', 'AFA', 'SFA', 'SIA', 'AIM', 'GLA', 'KPL', 'SRF', 'AAM',
        'AID', 'IFS', 'ITS', 'IAA', 'AIV', 'SIV', 'IVEI', 'AFM', 'AMF', 'balance',
        'IMMA', 'DRM', 'other_property_plant_and_equipment', 'MAI', 'noncurrent_investments',
        'KAPI', 'other_noncurrent_financial_assets', 'FAA', 'anlagsaktiviteter',
        'VL', 'TFST', 'THNP', 'ATG', 'VP', 'likvider', 'OMAI', 'summa_finansiella_anltillg',
        'other_intangible_assets',
        
        # Liability & Equity Items
        'SEK', 'AK', 'SG', 'SKG', 'SLG', 'LG', 'PG', 'AEK', 'AEKK', 'IRK', 'SIK',
        'SOK', 'AKG', 'AKR', 'ALG', 'ALK', 'ANLG', 'GTD', 'GTI', 'MAS', 'SKGKI',
        'KL', 'KVL', 'KSL', 'LFK', 'LTK', 'OBL', 'OBLG', 'PST', 'US', 'USF',
        'EFMA', 'USKAT', 'hensettelser', 'long_term_mortgage_debt', 'long_term_debt_to_banks',
        'LGNP', 'other_long_term_debt', 'ANSVL', 'KGNP', 'short_term_mortgage_debt',
        'short_term_debt_to_banks', 'VK', 'AG', 'PASSI', 'summa_langfristiga_skulder',
        
        # Financial Items
        'AFI', 'FI', 'FK', 'AFK', 'AFKK', 'ARI', 'ARK', 'RFF', 'RTK', 'NF', 'NFA',
        'NFO', 'FPN', 'other_net_financial_income',
        
        # Results & Special Items
        'DR', 'OR', 'ORS', 'AARS', 'AARK', 'PR', 'EI', 'EK', 'NE', 'EXP', 'SKATAAR',
        'KB', 'MU', 'FSUB', 'UTB', 'SUB', 'SUBE', 'SUBT', 'AVUB', 'resultat_e_avskrivningar',
        'resultat_e_finansnetto',
        
        # Provisions & Adjustments
        'SAP', 'AVS', 'AFV', 'FFUG', 'OFUG', 'PF', 'PSM', 'SOVE', 'OAE', 'OAEE',
        'OTFF', 'TPF', 'NVD', 'ORA', 'VAFI', 'VMF', 'VMFO', 'VØKF', 'VØKI',
        
        # Cash Flow Items
        'KON1', 'KON2', 'KON3', 'KON4', 'KON5', 'KON6', 'KON8', 'KON9', 'KON10',
        'UBNKA', 'KON11', 'LIMKA', 'KON12', 'KBPS',
        
        # Working Capital & Inventory
        'ARKA', 'AV', 'BE', 'BEE', 'BEEA', 'BET', 'EBEF', 'VBI', 'OOF', 'OOF3',
        
        # Taxes & Fees
        'BS', 'SKO', 'SKR', 'OFA', 'short_term_tax_payables', 'SLF', 'REVAN', 'REVHO',
        
        # Other Special Items
        'EGA', 'MAK', 'MAO', 'AKSB', 'FONE', 'LEDPS', 'LL', 'ANDLØ', 'OBLNM',
        'KSK', 'MIN', 'MINK', 'MA', 'KUF', 'ANIE', 'GTS', 'HUSLK', 'OER', 'OVR'
    }
    
    # Return multiplier if code is monetary, otherwise return 1
    return default_multiplier if api_code in MONETARY_CODES else 1

In [4]:
companies = pd.read_csv("raw/Supabase Snippet Update Company Background Images.csv")
codes = pd.read_csv("raw/codes.csv")

In [5]:
mapper = (codes.set_index("API_CODE").DESCRIPTION_ENGLISH).to_dict()

In [6]:
cleaned = []
for (_,company) in companies.iterrows():
    annual_accounts = json.loads(company.annual_accounts)
    items = []
    for annual_year in annual_accounts:
        for item in annual_year["accounts"]:
            if item["code"] not in mapper:
                #print("missing",item["code"],item["amount"])
                continue
            else:
                if item["amount"] is None:
                    continue
        
                key = mapper[item["code"]]
                value = float(item["amount"])
                if "%" in key:
                    value/=100
                    key = key.replace(" in %","")
                    #print(key,value)
                value *= get_financial_multiplier(item["code"])
                    
                #We should fix so its correct value here... somethimes percentage, soemtime SEK, sometimes MSEK
                items.append([annual_year["year"],key,value])
    company_dict = company[["company_id","name","organization_number","company_type","company_purpose","established_date","foundation_year","registered_for_payroll_tax","homepage","postal_address","visitor_address","nace_categories","location"]].to_dict()
    if len(items):
        company_dict["financiaL_data"] = json.loads(pd.DataFrame(items).pivot_table(index=0,columns=1,values=2).to_json(orient="index"))
    cleaned.append(company_dict)

In [ ]:
pd.DataFrame(cleaned).to_parquet("hello_nest_2.parquet")

In [8]:
? pd.pivot_table

Signature:
 pd.pivot_table(
    data: 'DataFrame',
    values=None,
    index=None,
    columns=None,
    aggfunc: 'AggFuncType' = 'mean',
    fill_value=None,
    margins: 'bool' = False,
    dropna: 'bool' = True,
    margins_name: 'Hashable' = 'All',
    observed: 'bool | lib.NoDefault' = <no_default>,
    sort: 'bool' = True,
) -> 'DataFrame'
Docstring:
Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects
(hierarchical indexes) on the index and columns of the result DataFrame.

Parameters
----------
data : DataFrame
values : list-like or scalar, optional
    Column or columns to aggregate.
index : column, Grouper, array, or list of the previous
    Keys to group by on the pivot table index. If a list is passed,
    it can contain any of the other types (except list). If an array is
    passed, it must be the same length as the data and will be used in
    the same manner as column values.
columns : column, Grouper, array, or list of the previous
    Keys to group by on the pivot table column. If a list is passed,
    it can contain any of the other types (except list). If an array is
    passed, it must be the same length as the data and will be used in
    the same manner as column values.
aggfunc : function, list of functions, dict, default "mean"
    If a list of functions is passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves).
    If a dict is passed, the key is column to aggregate and the value is
    function or list of functions. If ``margin=True``, aggfunc will be
    used to calculate the partial aggregates.
fill_value : scalar, default None
    Value to replace missing values with (in the resulting pivot table,
    after aggregation).
margins : bool, default False
    If ``margins=True``, special ``All`` columns and rows
    will be added with partial group aggregates across the categories
    on the rows and columns.
dropna : bool, default True
    Do not include columns whose entries are all NaN. If True,
    rows with a NaN value in any column will be omitted before
    computing margins.
margins_name : str, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.
observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. deprecated:: 2.2.0

        The default value of ``False`` is deprecated and will change to
        ``True`` in a future version of pandas.

sort : bool, default True
    Specifies if the result should be sorted.

    .. versionadded:: 1.3.0

Returns
-------
DataFrame
    An Excel style pivot table.

See Also
--------
DataFrame.pivot : Pivot without aggregation that can handle
    non-numeric data.
DataFrame.melt: Unpivot a DataFrame from wide to long format,
    optionally leaving identifiers set.
wide_to_long : Wide panel to long format. Less flexible but more
    user-friendly than melt.

Notes
-----
Reference :ref:`the user guide <reshaping.pivot>` for more examples.

Examples
--------
>>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
>>> df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

This first example aggregates values by taking the sum.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                        columns=['C'], aggfunc="sum")
>>> table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can also fill missing values using the `fill_value` parameter.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                        columns=['C'], aggfunc="sum", fill_value=0)
>>> table
C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6

The next example aggregates by taking the mean across multiple columns.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                        aggfunc={'D': "mean", 'E': "mean"})
>>> table
                D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

We can also calculate multiple types of aggregations for any given
value column.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                        aggfunc={'D': "mean",
...                                 'E': ["min", "max", "mean"]})
>>> table
                  D   E
               mean max      mean  min
A   C
bar large  5.500000   9  7.500000    6
    small  5.500000   9  8.500000    8
foo large  2.000000   5  4.500000    4
    small  2.333333   6  4.333333    2
File:      ~/.asdf/installs/python/3.11.4/lib/python3.11/site-packages/pandas/core/reshape/pivot.py
Type:      function